<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
 <plist version="1.0">
 <dict>
 
<!--# Will Rogers’ DAILY TELEGRAMS Volume 2 The Hoover Years 1929-1931-->

<!--# DAILY TELEGRAMS – 1929-->
<key>815.5</key>
<string>PB10-1i</string>

<key>822.8</key>
<string>PB10-2pi</string>

<key>822.11</key>
<string>PB10-3pi</string>

<key>835.14</key>
<string>PB10-5i</string>

<key>837.17</key>
<string>PB10-117i</string>

<key>838.20</key>
<string>PB10-134i</string>

<key>839.23</key>
<string>PB10-157i</string>

<key>841.26</key>
<string>PB12-2i</string>

<key>842.29</key>
<string>PB12-1i</string>

<key>851.32</key>
<string>PB12-3i</string>


<!--#_________________________  10 _________________________#-->
<key>872.37</key>
<string>PB12-8i</string>

<key>880.40</key>
<string>PB12-13i</string>

<key>892.43</key>
<string>PB12-17i</string>

<key>897.46</key>
<string>PB12-25i</string>

<key>899.49</key>
<string>PB12-26i</string>

<key>905.52</key>
<string>PB12-27i</string>

<key>914.55</key>
<string>PB12-31i</string>

<key>916.58</key>
<string>PB12-30i</string>

<key>917.61</key>
<string>PB12-32pi</string>

<key>926.64</key>
<string>PB12-36i</string>


<!--#_________________________  20 _________________________#-->

<!--# 939 PB12-37pi-->
<key>939.70</key>
<string>PB10-3pi</string>

<key>939.73</key>
<string>PB12-38i</string>

<key>941.76</key>
<string>PB12-39i</string>

<key>947.79</key>
<string>PB12-40pi</string>

<key>949.82</key>
<string>PB12-42i</string>

<key>957.85</key>
<string>PB12-45i</string>

<key>967.88</key>
<string>PB12-48pi</string>

<key>980.91</key>
<string>PB12-49pi</string>

<key>1014.94</key>
<string>PB12-52i</string>

<key>1015.97</key>
<string>PB12-71pi</string>


<!--#_________________________  30 _________________________#-->
<key>1015.102</key>
<string>PB12-72i</string>

<key>1018.105</key>
<string>PB12-76pi</string>

<key>1019.108</key>
<string>PB12-77i</string>

<key>1019.111</key>
<string>PB12-88i</string>


<!--# 1021 PB12-105i-->
<key>1021.115</key>
<string>n083995i</string>


<!--# 1027 PB12-106pi-->
<key>1027.119</key>
<string>MB8A-105pi</string>

<key>1028.122</key>
<string>PB12-122pi</string>

<key>1032.125</key>
<string>PB12-127pi</string>

<key>1038.128</key>
<string>PB12-137pi</string>

<key>1042.131</key>
<string>PB12-138i</string>


<!--#_________________________  40 _________________________#-->
<key>1042.136</key>
<string>PB12-144pi</string>

<key>1046.139</key>
<string>PB12-153i</string>

<key>1051.142</key>
<string>PB12-176i</string>

<key>1055.145</key>
<string>PB12-187pi</string>

<key>1062.148</key>
<string>PB12-188i</string>

<key>1063.151</key>
<string>PB12-189pi</string>

<key>1063.154</key>
<string>PB12-193i</string>

<key>1064.157</key>
<string>PB12-194i</string>


<!--# DAILY TELEGRAMS – 1930-->
<key>1075.162</key>
<string>PB12-204pi</string>

<key>1075.165</key>
<string>PB13-170pi</string>


<!--#_________________________  50 _________________________#-->
<key>1076.170</key>
<string>PB13-197i</string>

<key>1087.173</key>
<string>PB14-7pi</string>

<key>1095.176</key>
<string>PB14-8pi</string>

<key>1106.179</key>
<string>PB14-12pi</string>

<key>1109.182</key>
<string>PB14-13i</string>

<key>1116.185</key>
<string>PB14-16pi</string>

<key>1117.188</key>
<string>PB14-21pi</string>

<key>1122.191</key>
<string>PB14-22pi</string>

<key>1123.194</key>
<string>PB14-27pi</string>

<key>1135.197</key>
<string>PB14-28i</string>


<!--#_________________________  60 _________________________#-->
<key>1137.202</key>
<string>PB14-36i</string>

<key>1138.205</key>
<string>PB14-36ai</string>

<key>1154.208</key>
<string>PB14-45pai</string>

<key>1160.211</key>
<string>PB14-46ai</string>

<key>1163.214</key>
<string>PB14-47pi</string>


<!--# 1165 PB14-51pi-->
<key>1165.218</key>
<string>PB9-11i</string>

<key>1169.221</key>
<string>PB14-53pi</string>

<key>1172.224</key>
<string>PB14-57pi</string>

<key>1172.227</key>
<string>PB14-58pi</string>

<key>1176.230</key>
<string>PB14-74pi</string>


<!--#_________________________  70 _________________________#-->
<key>1183.235</key>
<string>PB14-76pi</string>

<key>1185.238</key>
<string>PB14-78pi</string>

<key>1187.241</key>
<string>PB14-90pi</string>

<key>1192.244</key>
<string>PB14-91pi</string>

<key>1195.247</key>
<string>PB14-93pi</string>

<key>1195.250</key>
<string>PB14-96pi</string>

<key>1196.253</key>
<string>PB14-97i</string>

<key>1202.258</key>
<string>PB14-99i</string>


<!--# 1205 PB14-101i-->
<key>1205.262</key>
<string>PB15-125pi</string>


<!--#_________________________  80 _________________________#-->
<key>1208.267</key>
<string>PB14-108pi</string>

<key>1211.270</key>
<string>PB14-113pi</string>

<key>1212.273</key>
<string>PB14-128i</string>

<key>1213.276</key>
<string>PB14-144i</string>

<key>1215.279</key>
<string>PB14-145pi</string>

<key>1216.282</key>
<string>PB14-146pi</string>

<key>1218.285</key>
<string>PB14-147pi</string>

<key>1224.288</key>
<string>PB14-148i</string>

<key>1224.291</key>
<string>PB14-151pi</string>

<key>1226.294</key>
<string>PB14-152i</string>


<!--#_________________________  90 _________________________#-->
<key>1228.299</key>
<string>PB14-167i</string>

<key>1230.302</key>
<string>PB14-173i</string>


<!--# 1234 PB14-184i-->
<key>1234.308</key>
<string>PB14-191i</string>

<key>1240.311</key>
<string>PB14-199pi</string>

<key>1243.314</key>
<string>PB14-202i</string>

<key>1244.317</key>
<string>PB14-214pi</string>

<key>1245.320</key>
<string>PB14-231pi</string>

<key>1249.323</key>
<string>PB14-243pi</string>

<key>1250.326</key>
<string>PB14-251pi</string>


<!--#_________________________ 100 _________________________#-->
<key>1250.331</key>
<string>PB14-273pi</string>

<key>1252.334</key>
<string>PB14-275pi</string>

<key>1257.337</key>
<string>PB14-277i</string>

<key>1261.340</key>
<string>PB14-279pi</string>


<!--# 1262 PB14-280pi Will's office at Will Rogers Museum-->
<key>1263.346</key>
<string>MB13D-31pi</string>


<!--# 1265 PB14-290pi Will and "Big Jim," world's largest steer-->
<key>1274.352</key>
<string>PB15-10pi</string>

<key>1287.355</key>
<string>PB15-16i</string>

<key>1296.358</key>
<string>PB15-29pi</string>


<!--#_________________________ 110 _________________________#-->
<key>1301.363</key>
<string>PB15-37pi</string>

<key>1302.366</key>
<string>PB15-40i</string>

<key>1302.369</key>
<string>PB15-46pi</string>

<key>1305.372</key>
<string>PB15-60pi</string>

<key>1306.375</key>
<string>PB15-68pi</string>

<key>1308.378</key>
<string>PB15-74pi</string>

<key>1308.381</key>
<string>PB15-79pi</string>

<key>1314.384</key>
<string>PB15-80i</string>

<key>1315.387</key>
<string>PB15-81pi</string>

<key>1320.390</key>
<string>PB15-83pi</string>


<!--#_________________________ 120 _________________________#-->
<key>1325.395</key>
<string>PB15-85i</string>

<key>1328.398</key>
<string>PB15-97pi</string>

<key>1329.403</key>
<string>PB15-98pi</string>

<key>1329.406</key>
<string>PB15-99pi</string>

<key>1329.409</key>
<string>PB15-102pi</string>

<key>1333.412</key>
<string>PB15-105pi</string>

<key>1334.415</key>
<string>PB15-106i</string>

<key>1334.418</key>
<string>PB15-107pi</string>

<key>1335.421</key>
<string>PB15-108i</string>


<!--#_________________________ 130 _________________________#-->
<key>1336.426</key>
<string>PB15-109pi</string>

<key>1336.429</key>
<string>PB15-110pi</string>

<key>1336.432</key>
<string>PB15-122pi</string>

<key>1339.435</key>
<string>PB15-123pi</string>

<key>1339.438</key>
<string>PB15-124pi</string>

<key>1339.441</key>
<string>PB15-125pi</string>

<key>1340.444</key>
<string>PB15-129i</string>

<key>1343.447</key>
<string>PB15-131pi</string>

<key>1343.450</key>
<string>PB15-135pi</string>

<key>1344.453</key>
<string>PB15-146i</string>


<!--#_________________________ 140 _________________________#-->
<key>1347.458</key>
<string>PB15-152pi</string>

<key>1350.461</key>
<string>PB15-154pi</string>

<key>1353.464</key>
<string>PB15-160i</string>

<key>1355.467</key>
<string>PB15-161pi</string>

<key>1367.470</key>
<string>PB15-166pi</string>

<key>1367.473</key>
<string>PB15-180i</string>

<key>1374.476</key>
<string>PB16-23pi</string>


<!--# 1377 PB16-25pi-->
<key>1385.482</key>
<string>PB16-29i</string>


<!--# DAILY TELEGRAMS – 1931-->
<key>1399.487</key>
<string>PB16-41i</string>


<!--#_________________________ 150 _________________________#-->
<key>1399.492</key>
<string>PB16-66pi</string>

<key>1431.495</key>
<string>PB16-67pi</string>

<key>1436.498</key>
<string>PB16-71i</string>


<!--# Will Rogers’ DAILY TELEGRAMS Volume 3 The Hoover Years 1931-1933-->
<key>1440.503</key>
<string>PB16-81i</string>

<key>1441.506</key>
<string>PB16-94ai</string>

<key>1453.509</key>
<string>PB16-102i</string>

<key>1453.512</key>
<string>PB16-109pi</string>


<!--# 1471 PB16-114pi Will and Henry Ford-->

<!--#_________________________ 160 _________________________#-->
<key>1520.522</key>
<string>PB16-115pi</string>

<key>1527.525</key>
<string>PB16-116pi</string>

<key>1533.528</key>
<string>PB16-122i</string>

<key>1533.531</key>
<string>PB16-125pi</string>

<key>1533.534</key>
<string>PB16-130api</string>

<key>1534.537</key>
<string>PB16-132pi</string>

<key>1538.540</key>
<string>PB16-133pi</string>

<key>1538.543</key>
<string>PB16-144pi</string>

<key>1538.546</key>
<string>PB16-147i</string>

<key>1538.549</key>
<string>PB16-150pi</string>


<!--#_________________________ 170 _________________________#-->
<key>1549.554</key>
<string>PB16-152pi</string>

<key>1569.557</key>
<string>PB16-153pi</string>

<key>1572.560</key>
<string>PB16-157pi</string>

<key>1573.563</key>
<string>PB16-158pi</string>

<key>1582.566</key>
<string>PB16-163pi</string>

<key>1588.569</key>
<string>PB16-171pi</string>

<key>1595.572</key>
<string>PB16-172pi</string>


<!--# 1597 PB16-194pi-->
<key>1597.576</key>
<string>willrogersrockeri</string>

<key>1597.579</key>
<string>PB16-196pi</string>

<key>1600.582</key>
<string>PB16-199api</string>


<!--#_________________________ 180 _________________________#-->
<key>1605.587</key>
<string>PB16-200i</string>

<key>1607.590</key>
<string>PB16-205pi</string>

<key>1608.593</key>
<string>PB16-209api</string>

<key>1609.596</key>
<string>PB16-230api</string>

<key>1609.599</key>
<string>PB16-231pi</string>

<key>1611.602</key>
<string>PB16-242pi</string>

<key>1654.605</key>
<string>PB16-246api</string>

<key>1660.608</key>
<string>PB16-261pi</string>

<key>1668.611</key>
<string>PB16-267pi</string>

<key>1670.614</key>
<string>PB16-271pi</string>


<!--#_________________________ 190 _________________________#-->

<!--# 1672 PB16-273pi Will and John D. Rockefeller-->
<key>1687.622</key>
<string>PB16-301api</string>


<!--# DAILY TELEGRAMS, — 1932-->
<key>1699.627</key>
<string>PB16-304api</string>

<key>1701.630</key>
<string>PB16-317pi</string>


<!--# 1715 PB16-318pi Will and Shirley Temple-->
<key>1717.636</key>
<string>PB16-347pi</string>

<key>1717.639</key>
<string>PB16-348pi</string>

<key>1718.642</key>
<string>PB16-349pi</string>

<key>1718.645</key>
<string>PB16-350pi</string>

<key>1720.648</key>
<string>PB16-355pi</string>


<!--#_________________________ 200 _________________________#-->
<key>1723.653</key>
<string>PB16-363api</string>

<key>1726.656</key>
<string>PB17-6pi</string>

<key>1733.659</key>
<string>PB17-8pi</string>

<key>1733.662</key>
<string>PB17-12pi</string>

<key>1743.665</key>
<string>PB17-76i</string>

<key>1747.668</key>
<string>PB17-84i</string>

<key>1762.671</key>
<string>PB17-87i</string>

<key>1762.674</key>
<string>PB17-117pi</string>

<key>1764.677</key>
<string>PB17-153pi</string>

<key>1765.680</key>
<string>PB17-175i</string>


<!--#_________________________ 210 _________________________#-->
<key>1767.685</key>
<string>PB17-178pi</string>

<key>1770.688</key>
<string>PB17-191i</string>

<key>1770.691</key>
<string>PB17-266i</string>

<key>1770.694</key>
<string>PB17-291pi</string>

<key>1773.697</key>
<string>PB17-323pi</string>

<key>1783.700</key>
<string>PB17-344i</string>

<key>1787.703</key>
<string>PB17-351i</string>

<key>1790.706</key>
<string>PB17-364pi</string>

<key>1791.709</key>
<string>PB17-365i</string>

<key>1797.712</key>
<string>PB17-385i</string>


<!--#_________________________ 220 _________________________#-->
<key>1806.717</key>
<string>PB25-5pi</string>

<key>1808.720</key>
<string>PB25-6i</string>

<key>1813.723</key>
<string>PB25-7i</string>

<key>1813.726</key>
<string>PB25-8i</string>

<key>1817.729</key>
<string>PB25-9pi</string>

<key>1817.732</key>
<string>PB25-15pi</string>

<key>1821.735</key>
<string>PB25-17pi</string>


<!--# 1826 PB25-20pi-->
<key>1830.743</key>
<string>PB25-80pi</string>


<!--#_________________________ 230 _________________________#-->
<key>1831.748</key>
<string>PB25-81pi</string>

<key>1831.751</key>
<string>PB25-82pi</string>

<key>1843.754</key>
<string>PB25-86i</string>

<key>1844.757</key>
<string>MB8A-3pi</string>

<key>1846.760</key>
<string>MB8A-4pi</string>

<key>1846.763</key>
<string>MB8A-5pi</string>

<key>1847.766</key>
<string>MB8A-8pi</string>

<key>1848.769</key>
<string>MB8A-9pi</string>

<key>1853.772</key>
<string>MB8A-13pi</string>

<key>1856.775</key>
<string>MB8A-16pi</string>


<!--#_________________________ 240 _________________________#-->
<key>1857.780</key>
<string>MB8A-19pi</string>

<key>1873.783</key>
<string>MB8A-21pi</string>

<key>1880.786</key>
<string>MB8A-24pi</string>

<key>1883.789</key>
<string>MB8A-26pi</string>

<key>1884.792</key>
<string>MB8A-32api</string>

<key>1887.795</key>
<string>MB8A-33api</string>

<key>1893.798</key>
<string>MB8A-41pi</string>

<key>1913.801</key>
<string>MB8A-46pi</string>

<key>1914.804</key>
<string>MB8A-49pi</string>

<key>1915.807</key>
<string>MB8A-55pi</string>


<!--#_________________________ 250 _________________________#-->
<key>1920.812</key>
<string>MB8A-56pi</string>

<key>1923.815</key>
<string>MB8A-57i</string>

<key>1926.820</key>
<string>MB8A-61pi</string>

<key>1946.823</key>
<string>MB8A-62api</string>

<key>1948.826</key>
<string>MB8A-63pi</string>

<key>1948.829</key>
<string>MB8A-67api</string>

<key>1948.832</key>
<string>MB8A-69pi</string>

<key>1948.835</key>
<string>MB8A-69api</string>

<key>1948.838</key>
<string>MB8A-75pi</string>


<!--#_________________________ 260 _________________________#-->
<key>1953.843</key>
<string>MB8A-87pi</string>

<key>1953.846</key>
<string>MB8A-97pi</string>

<key>1955.849</key>
<string>MB8A-98pi</string>


<!--# 1956 MB8A-105pi Movie  Jubilo-->
<key>1956.855</key>
<string>MB8A-106pi</string>

<key>1966.858</key>
<string>MB8B-1api</string>

<key>1967.861</key>
<string>MB8B-1bpi</string>


<!--# 1970 MB8B-6pi Movie An Unwilling Hero-->
<key>1970.865</key>
<string>PB14-45pai</string>

<key>1977.868</key>
<string>MB8B-10pi</string>

<key>1980.871</key>
<string>MB8B-11pi</string>


<!--#_________________________ 270 _________________________#-->
<key>1986.876</key>
<string>MB8B-12pi</string>

<key>1990.879</key>
<string>MB8B-13pi</string>

<key>1990.882</key>
<string>MB8B-14pi</string>


<!--# DAILY TELEGRAMS, — 1933-->
<key>2007.887</key>
<string>MB8B-27pi</string>

<key>2014.890</key>
<string>MB8B-33pi</string>

<key>2016.893</key>
<string>MB8B-35i</string>

<key>2017.896</key>
<string>MB8B-36i</string>

<key>2018.899</key>
<string>MB8B-39pi</string>

<key>2024.902</key>
<string>MB8B-40pi</string>

<key>2030.905</key>
<string>MB8B-48pi</string>


<!--#_________________________ 280 _________________________#-->
<key>2031.910</key>
<string>MB8B-52pi</string>

<key>2032.913</key>
<string>MB8B-56pi</string>

<key>2039.916</key>
<string>MB8B-58pi</string>

<key>2039.919</key>
<string>MB8B-61pi</string>

<key>2041.922</key>
<string>MB9A-7pi</string>

<key>2044.925</key>
<string>MB9A-17pi</string>

<key>2047.928</key>
<string>MB9A-19pi</string>

<key>2051.931</key>
<string>MB9A-30pi</string>


<!--# Will Rogers’ DAILY TELEGRAMS Volume 4 The Roosevelt Years 1933-1935-->
<key>2054.936</key>
<string>MB9A-31pi</string>

<key>2058.939</key>
<string>MB9A-32pi</string>


<!--#_________________________ 290 _________________________#-->
<key>2061.944</key>
<string>MB9A-35pi</string>

<key>2063.947</key>
<string>MB9A-39pi</string>

<key>2065.950</key>
<string>MB9A-41pi</string>

<key>2065.953</key>
<string>MB9A-43pi</string>

<key>2067.956</key>
<string>MB9A-44pi</string>

<key>2069.959</key>
<string>MB9A-45pi</string>

<key>2071.962</key>
<string>MB9A-47pi</string>

<key>2072.965</key>
<string>MB9A-48pi</string>

<key>2072.968</key>
<string>MB9A-49pi</string>

<key>2074.971</key>
<string>MB9A-50pi</string>


<!--#_________________________ 300 _________________________#-->
<key>2074.976</key>
<string>MB9A-51pi</string>

<key>2076.979</key>
<string>MB9A-52pi</string>

<key>2078.982</key>
<string>MB9A-56pi</string>

<key>2095.985</key>
<string>MB9A-58pi</string>

<key>2095.988</key>
<string>MB9A-60pi</string>

<key>2096.991</key>
<string>MB9A-63pi</string>

<key>2096.994</key>
<string>MB9A-64pi</string>

<key>2100.997</key>
<string>MB9A-66pi</string>

<key>2106.1000</key>
<string>MB9A-67pi</string>

<key>2116.1003</key>
<string>MB9A-68pi</string>


<!--#_________________________ 310 _________________________#-->
<key>2116.1008</key>
<string>MB9A-69pi</string>

<key>2116.1011</key>
<string>MB9A-70pi</string>

<key>2117.1014</key>
<string>MB9A-73pi</string>

<key>2121.1017</key>
<string>MB9A-74pi</string>


<!--# 2136 MB9A-75pi Movie Guile of Women-->
<key>2136.1021</key>
<string>PB16-130api</string>

<key>2138.1024</key>
<string>MB9A-78pi</string>

<key>2146.1027</key>
<string>MB9A-79pi</string>

<key>2146.1030</key>
<string>MB9A-82pi</string>

<key>2159.1033</key>
<string>MB9A-83pi</string>

<key>2159.1036</key>
<string>MB9A-84pi</string>


<!--#_________________________ 320 _________________________#-->
<key>2159.1041</key>
<string>MB9A-86pi</string>

<key>2167.1044</key>
<string>MB9A-91pi</string>

<key>2206.1049</key>
<string>MB9B-4pi</string>

<key>2206.1052</key>
<string>MB9B-6pi</string>

<key>2208.1055</key>
<string>MB9B-12pi</string>

<key>2211.1058</key>
<string>MB9B-13pi</string>

<key>2211.1061</key>
<string>MB9B-14pi</string>

<key>2213.1064</key>
<string>MB9B-16pi</string>

<key>2213.1067</key>
<string>MB9B-19pi</string>


<!--#_________________________ 330 _________________________#-->
<key>2214.1072</key>
<string>MB9B-20pi</string>

<key>2217.1075</key>
<string>MB9B-34pi</string>

<key>2221.1078</key>
<string>MB9B-37i</string>

<key>2221.1081</key>
<string>MB9B-41pi</string>

<key>2224.1084</key>
<string>MB9B-86pi</string>

<key>2225.1087</key>
<string>MB13C-14i</string>

<key>2226.1090</key>
<string>MB13C-15i</string>

<key>2227.1093</key>
<string>MB13C-18i</string>

<key>2229.1096</key>
<string>MB13C-47i</string>

<key>2229.1099</key>
<string>MB13C-48i</string>


<!--#_________________________ 340 _________________________#-->
<key>2231.1104</key>
<string>MB13C-50i</string>

<key>2236.1107</key>
<string>MB13C-51i</string>

<key>2248.1110</key>
<string>MB13C-52i</string>

<key>2249.1113</key>
<string>MB13D-8i</string>

<key>2251.1120</key>
<string>IMG_0951pi</string>


<!--# 2251 IMG_0959pi Will Rogers Museum-->

<!--# 2253 IMG_0984i Will Rogers Museum-->
<key>2254.1129</key>
<string>IMG_0507pi</string>


<!--#_________________________ 350 _________________________#-->
<key>2256.1134</key>
<string>IMG_0508i</string>


<!--# 2277 IMG_0524pi Will Rogers Museum-->
<key>2277.1144</key>
<string>IMG_0532pi</string>

<key>2279.1147</key>
<string>IMG_0538pi</string>

<key>2288.1150</key>
<string>IMG_0573pi</string>

<key>2297.1153</key>
<string>IMG_0940i</string>

<key>2298.1156</key>
<string>IMG_0941i</string>

<key>2299.1159</key>
<string>IMG_0711pi</string>


<!--#_________________________ 360 _________________________#-->
<key>2309.1164</key>
<string>IMG_0712pi</string>


<!--# DAILY TELEGRAMS — 1934-->
<key>2316.1171</key>
<string>IMG_0715pi</string>

<key>2317.1174</key>
<string>IMG_0717pi</string>


<!--# 2338 IMG_0720pi Will Rogers Ranch-->
<key>2338.1178</key>
<string>IMG_0721pi</string>


<!--# 2341 IMG_0721pi Will Rogers Ranch-->
<key>2343.1184</key>
<string>IMG_0727pi</string>

<key>2350.1187</key>
<string>IMG_0736pi</string>

<key>2351.1190</key>
<string>IMG_0748i</string>

<key>2356.1193</key>
<string>IMG_0758pi</string>


<!--#_________________________ 370 _________________________#-->
<key>2377.1206</key>
<string>PB9-53i</string>

<key>2391.1217</key>
<string>willrogersrockeri</string>


<!--#_________________________ 380 _________________________#-->
<key>2391.1222</key>
<string>Will-Rogersi</string>

<key>2393.1225</key>
<string>will_rogers181i</string>

<key>2395.1228</key>
<string>rogersi</string>

<key>2399.1231</key>
<string>Rogers-Portrait-3227505i</string>

<key>2399.1234</key>
<string>Dizzy-Dean-005215A_medpi</string>

<key>2404.1237</key>
<string>14988_0017_1_lgi</string>

<key>2405.1240</key>
<string>wr3i</string>

<key>2408.1243</key>
<string>wr1i</string>

<key>2409.1246</key>
<string>n084993i</string>

<key>2425.1249</key>
<string>n083995i</string>


<!--#_________________________ 390 _________________________#-->
<key>2426.1254</key>
<string>n083993i</string>

<key>2426.1257</key>
<string>35961vi</string>

<key>2445.1260</key>
<string>13396vi</string>

<key>2449.1263</key>
<string>12317vi</string>

<key>2455.1266</key>
<string>05771vi</string>

<key>2461.1269</key>
<string>3a21749v-ip</string>

<key>2462.1272</key>
<string>wr4-ip</string>

<key>2462.1275</key>
<string>wr5-ip</string>


<!--#_________________________ 400 _________________________#-->

<!--#_________________________ 410 _________________________#-->

<!--#_________________________ 420 _________________________#-->

<!--#_________________________ 430 _________________________#-->

<!--# DAILY TELEGRAMS — 1935-->

<!--#_________________________ 440 _________________________#-->

<!--#_________________________ 450 _________________________#-->

<!--#_________________________ 460 _________________________#-->
<key>2713.1422</key>
<string>PB16-114pi</string>


<!--#_________________________ 470 _________________________#-->

<!--#_________________________ 480 _________________________#-->
<key>2784.1465</key>
<string>PB16-273pi</string>


<!--#_________________________ 490 _________________________#-->


</dict>
</plist>
